In [1]:
lista = [34, 56, 78, 12, 78, 90]

In [2]:
listb = [23.5, 8.9, 12.34, 56.97]

In [5]:
cities = ['riyadh', 'new delhi', 'beijing', 'washington', 'cairo', 'toronto']

In [4]:
print(type(lista))

<class 'list'>

In [6]:
print(type(cities))

<class 'list'>

In [7]:
listc = ['thiem', 3, 'austria', 45678.90]   # 4 elements

In [8]:
print(type(listc))

<class 'list'>

In [9]:
print(len(listc))

4

In [10]:
print(listc[0])

thiem

In [11]:
print(listc[1])

3

In [12]:
print(listc[-1])

45678.9

In [13]:
listc = ['thiem', 3, 'austria', 45678.90]

In [14]:
print(type(listc))

<class 'list'>

In [15]:
print(type(listc[0]))

<class 'str'>

In [16]:
print(type(listc[1]))

<class 'int'>

In [17]:
print(listc)

['thiem', 3, 'austria', 45678.9]

In [18]:
listc[2] = "germany"

In [19]:
print(listc)

['thiem', 3, 'germany', 45678.9]

In [20]:
lista = [34, 56, 78, 12, 78, 90]

In [21]:
lista.reverse()

In [22]:
print(lista)

[90, 78, 12, 78, 56, 34]