In [1]:
print("hello world")  # unspoken rule among programmers

hello world

In [2]:
print("hello world")

hello world

In [3]:
# print("hello world")

In [5]:
day = 6 
total = 45

# num of days = total hrs divide by daily hours
num_of_days=total/day

In [6]:
print(num_of_days)

7.5

In [7]:
day = 6 
total = 42

# num of days = total hrs divide by daily hours
num_of_days=total/day

In [8]:
print(num_of_days)

7.0

In [9]:
var_a = 44
var_b = 13

print(var_a/var_b)

3.3846153846153846

In [10]:
import pandas as pd

var_c = pd.read_excel('four.xlsx')

In [12]:
print(var_c)

   id         name      skill  earning
0  10        saina  badminton    45000
1  20        sania     tennis    50000
2  30       poonam    cricket    55000
3  40  viswanathan      chess    40000
4  50    bhaichung   football    35000

In [14]:
var_c['earning'].sum()

0    45000
1    50000
2    55000
3    40000
4    35000
Name: earning, dtype: int64

In [15]:
var_c['earning'].sum()

225000

#### Learning Python

today is $day one$

In [16]:
var_a = 44
var_b = 13
var_c = 0

In [17]:
var_c = var_a/var_b

In [18]:
print(var_c)

3.3846153846153846

In [19]:
var_c = var_a/var_b        
var_c = round(var_c, 3)    #simpler
print(var_c)

3.385

In [20]:
var_c = round(var_a/var_b, 3)     
print(var_c)

var_b = var_a + 100
print(var_b)

3.385
144

In [21]:
series = [4, 6, 7, 8, 10, 3, 2]   #ignore

In [22]:
print(sum(series))

40

In [23]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [24]:
var_a = 44
var_b = 13
var_c = 0

In [25]:
var_c = var_a/var_b
print(var_c)

3.3846153846153846

In [26]:
var_c = round(var_a/var_b, 2)
print(var_c)

3.38

In [27]:
var_c = var_a//var_b
print(var_c)

3

In [28]:
46/6

7.666666666666667

In [29]:
46//6

7

In [30]:
#   3 square = 3 raised to 2
3**2

9

In [31]:
print(4**4)

256

In [32]:
#   roman numerals    VIX
#   arabic numerals   0123456789

In [33]:
a = 33       # int
b = 33.3     # float
c = 33.0     # float

In [34]:
print(type(a))

<class 'int'>

In [35]:
print(type(b))

<class 'float'>

In [36]:
print(type(c))

<class 'float'>

In [37]:
print("hello world")
varx = 20
print(varx)

hello world
20

In [38]:
varx = 20
varx          # not used print, but it still shows value of varx

20

In [39]:
10/20

0.5