In [2]:
import pandas as pd

# scikit learn 

from sklearn.neighbors import KNeighborsClassifier as KNN

In [3]:
dfa = pd.read_csv("iris-data.csv")

In [4]:
dfa

     Sepal Length  Sepal Width  Petal Length  Petal Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [19]:
dfa[ ['Sepal Length', 'Sepal Width', 'Petal Length'] ]

     Sepal Length  Sepal Width  Petal Length
0             5.1          3.5           1.4
1             4.9          3.0           1.4
2             4.7          3.2           1.3
3             4.6          3.1           1.5
4             5.0          3.6           1.4
..            ...          ...           ...
145           6.7          3.0           5.2
146           6.3          2.5           5.0
147           6.5          3.0           5.2
148           6.2          3.4           5.4
149           5.9          3.0           5.1

[150 rows x 3 columns]

In [7]:
dfa.iloc[4]

Sepal Length              5
Sepal Width             3.6
Petal Length            1.4
Petal Width             0.2
Species         Iris-setosa
Name: 4, dtype: object

In [9]:
dfa = pd.read_csv("iris-data.csv")


one = dfa.iloc[60]     #  keeping it in a seperate place

dfb = dfa.drop([60])   #removing the sample number 60

In [10]:
two = dfa.iloc[75]     #  keeping it in a seperate place

dfc = dfb.drop([75])   #removing the sample number 60

In [11]:
len(dfa)

150

In [12]:
len(dfc)

148

In [13]:
cols = list(dfc.columns)

In [14]:
cols

['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width', 'Species']

dfd = dfa.drop([60, 75])   # removed 2 flowers  <br>
<br>
dfd = dfa.drop([60:75])    #removed 15 flowers   <br>

In [15]:
model = KNN(n_neighbors=3)       #  3 nearest neighbours

model.fit(X=dfc[['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width']], y=dfc['Species'])

KNeighborsClassifier(n_neighbors=3)

In [25]:
model.predict(one[['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width']].values.reshape((-1, 4)))

array(['Iris-versicolor'], dtype=object)

In [26]:
one

Sepal Length                  5
Sepal Width                   2
Petal Length                3.5
Petal Width                   1
Species         Iris-versicolor
Name: 60, dtype: object

In [27]:
varw = two[['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width']].values.reshape((-1, 4))

In [28]:
two

Sepal Length                6.6
Sepal Width                   3
Petal Length                4.4
Petal Width                 1.4
Species         Iris-versicolor
Name: 75, dtype: object

array([[6.6, 3.0, 4.4, 1.4]], dtype=object)

In [31]:
import numpy as np

In [32]:
model.predict(varw)

array(['Iris-versicolor'], dtype=object)

In [33]:
two

Sepal Length                6.6
Sepal Width                   3
Petal Length                4.4
Petal Width                 1.4
Species         Iris-versicolor
Name: 75, dtype: object