In [1]:
a = b = c = 20

In [2]:
del b

In [3]:
print(a)

20

In [4]:
print(b)

NameError: name 'b' is not defined

In [5]:
import pandas as pd

In [38]:
dfa = pd.read_excel('research.xlsx')

In [8]:
lista = [8, 9, 10, 33, 45]

In [9]:
max(lista)

45

In [10]:
len("hello")

5

In [11]:
len(lista)

5

In [12]:
len(dfa)

900

In [13]:
lista = ['aa', 'bb', 'cc', 'dd', 'ee', 'ff', 'aa', 'bb', 'aa', 'bb', 'aa']

In [14]:
stra = "nahdi"

In [15]:
stra.count('N')

0

In [16]:
stra.upper().count('N')

1

In [17]:
strb = stra.upper()
strb.count('N')

1

In [18]:
help(dfa.drop)

Help on method drop in module pandas.core.frame:

drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise') method of pandas.core.frame.DataFrame instance
    Drop specified labels from rows or columns.

    Remove rows or columns by specifying label names and corresponding
    axis, or by specifying directly index or column names. When using a
    multi-index, labels on different levels can be removed by specifying
    the level.

    Parameters
    ----------
    labels : single label or list-like
        Index or column labels to drop.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Whether to drop labels from the index (0 or 'index') or
        columns (1 or 'columns').
    index : single label or list-like
        Alternative to specifying axis (``labels, axis=0``
        is equivalent to ``index=labels``).
    columns : single label or list-like
        Alternative to specifying axis (``labels, axis=1``
        is equivalent to ``columns=labels``).
    level : int or level name, optional
        For MultiIndex, level from which the labels will be removed.
    inplace : bool, default False
        If False, return a copy. Otherwise, do operation
        inplace and return None.
    errors : {'ignore', 'raise'}, default 'raise'
        If 'ignore', suppress error and only existing labels are
        dropped.

    Returns
    -------
    DataFrame
        DataFrame without the removed index or column labels.

    Raises
    ------
    KeyError
        If any of the labels is not found in the selected axis.

    See Also
    --------
    DataFrame.loc : Label-location based indexer for selection by label.
    DataFrame.dropna : Return DataFrame with labels on given axis omitted
        where (all or any) data are missing.
    DataFrame.drop_duplicates : Return DataFrame with duplicate rows
        removed, optionally only considering certain columns.
    Series.drop : Return Series with specified index labels removed.

    Examples
    --------
    >>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
    ...                   columns=['A', 'B', 'C', 'D'])
    >>> df
       A  B   C   D
    0  0  1   2   3
    1  4  5   6   7
    2  8  9  10  11

    Drop columns

    >>> df.drop(['B', 'C'], axis=1)
       A   D
    0  0   3
    1  4   7
    2  8  11

    >>> df.drop(columns=['B', 'C'])
       A   D
    0  0   3
    1  4   7
    2  8  11

    Drop a row by index

    >>> df.drop([0, 1])
       A  B   C   D
    2  8  9  10  11

    Drop columns and/or rows of MultiIndex DataFrame

    >>> midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
    ...                              ['speed', 'weight', 'length']],
    ...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
    ...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
    >>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
    ...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
    ...                         [250, 150], [1.5, 0.8], [320, 250],
    ...                         [1, 0.8], [0.3, 0.2]])
    >>> df
                    big     small
    lama    speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            weight  1.0     0.8
            length  0.3     0.2

    >>> df.drop(index='cow', columns='small')
                    big
    lama    speed   45.0
            weight  200.0
            length  1.5
    falcon  speed   320.0
            weight  1.0
            length  0.3

    >>> df.drop(index='length', level=1)
                    big     small
    lama    speed   45.0    30.0
            weight  200.0   100.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
    falcon  speed   320.0   250.0
            weight  1.0     0.8

In [19]:
dfa

,Table,Breakdown,Secondary_Breakdown,Year,Value,Unit
0,01 Total R&D Expenditure,01_R&D Expenditure,1) Business,2012,1193,$(million)
1,01 Total R&D Expenditure,01_R&D Expenditure,1) Business,2014,1246,$(million)
2,01 Total R&D Expenditure,01_R&D Expenditure,1) Business,2016,1602,$(million)
3,01 Total R&D Expenditure,01_R&D Expenditure,1) Business,2018,2150,$(million)
4,01 Total R&D Expenditure,01_R&D Expenditure,1) Business,2019,2407,$(million)
...,...,...,...,...,...,...
895,15 Broad purpose of research by sub-sector,16_Total Business Sector,05_Total business sector,2012,1193,$(million)
896,15 Broad purpose of research by sub-sector,16_Total Business Sector,05_Total business sector,2014,1246,$(million)
897,15 Broad purpose of research by sub-sector,16_Total Business Sector,05_Total business sector,2016,1602,$(million)
898,15 Broad purpose of research by sub-sector,16_Total Business Sector,05_Total business sector,2018,2150,$(million)
899,15 Broad purpose of research by sub-sector,16_Total Business Sector,05_Total business sector,2019,2407,$(million)

In [45]:
dfa['Year']

0      2012
1      2014
2      2016
3      2018
4      2019
       ...
895    2012
896    2014
897    2016
898    2018
899    2019
Name: Year, Length: 900, dtype: int64