In [1]:
capitals = {'us':'washington DC', 'germany':'berlin', 'indonesia':'jakarta'}

In [2]:
print(len(capitals))

3

In [3]:
print(capitals['us'])

washington DC

In [4]:
print(capitals['indonesia'])

jakarta

In [5]:
print(capitals['india'])

KeyError: 'india'

In [6]:
capitals['germany'] = 'BERLIN'

In [7]:
print(capitals)

{'us': 'washington DC', 'germany': 'BERLIN', 'indonesia': 'jakarta'}

In [8]:
capitals['india'] = 'new delhi'

In [9]:
print(capitals)

{'us': 'washington DC', 'germany': 'BERLIN', 'indonesia': 'jakarta', 'india': 'new delhi'}

In [10]:
capitals['samerican'] = ['lima', 'buenos aires', 'brasillia']

In [11]:
print(capitals)

{'us': 'washington DC', 'germany': 'BERLIN', 'indonesia': 'jakarta', 'india': 'new delhi', 'samerican': ['lima', 'buenos aires', 'brasillia']}

In [12]:
#     mohammed    sultan     nigam
#     83,85,96    88,93,94   79,88,92   1st year
#     78,45,85    78,76,74   65,66,58   2nd year

In [13]:
mohammed = {'1st year':[83, 85, 96], '2nd year':[78, 45, 85]}
sultan = {'1st year':[88, 93, 94], '2nd year':[78, 76, 74]}

In [14]:
mohammed['1st year']

[83, 85, 96]

In [15]:
print(type(mohammed))

<class 'dict'>

In [16]:
print(type(mohammed['1st year']))

<class 'list'>

In [18]:
sum(mohammed['1st year'])

264

In [19]:
grades = {'candidate_a':mohammed, 'candidate_b':sultan}

In [20]:
print(grades)

{'candidate_a': {'1st year': [83, 85, 96], '2nd year': [78, 45, 85]}, 'candidate_b': {'1st year': [88, 93, 94], '2nd year': [78, 76, 74]}}

In [21]:
grades

{'candidate_a': {'1st year': [83, 85, 96], '2nd year': [78, 45, 85]},
 'candidate_b': {'1st year': [88, 93, 94], '2nd year': [78, 76, 74]}}

In [22]:
grades['candidate_b']

{'1st year': [88, 93, 94], '2nd year': [78, 76, 74]}

In [23]:
grades['candidate_b']['2nd year'][1]

76

In [24]:
tup_b = ([6, 8,9], {'aa':'hi', 'bb':[9, 8, 7]}, 'string')