In [1]:
cities = ['amsterdam', 'cairo', 'hongkong', 'los angeles', 'new delhi', 
          'prague', 'riyadh', 'seol', 'shanghai', 'toronto']

In [2]:
print(len(cities))

10

In [4]:
for x in cities:
    print("x =", x)

x = amsterdam
x = cairo
x = hongkong
x = los angeles
x = new delhi
x = prague
x = riyadh
x = seol
x = shanghai
x = toronto

In [5]:
tup_a = (5, 7, 3, 9, 12, 4, 6)

In [6]:
for val in tup_a:
    print(val)

5
7
3
9
12
4
6

In [7]:
cities = ['amsterdam', 'cairo', 'hongkong', 'los angeles', 'new delhi', 
          'prague', 'riyadh', 'seol', 'shanghai', 'toronto']

In [8]:
for val in cities:
    print("val =", val)

val = amsterdam
val = cairo
val = hongkong
val = los angeles
val = new delhi
val = prague
val = riyadh
val = seol
val = shanghai
val = toronto

In [9]:
for mohammed in cities:
    print(mohammed)

amsterdam
cairo
hongkong
los angeles
new delhi
prague
riyadh
seol
shanghai
toronto

In [13]:
favourite = ['seol', 'madrid', 'riyadh', 'geneva', 'oslo', 'libson']

In [14]:
cities = ['amsterdam', 'cairo', 'hongkong', 'los angeles', 'new delhi', 
          'prague', 'riyadh', 'seol', 'shanghai', 'toronto']

In [12]:
#  find common cities & put it in another list

In [15]:
for x in favourite:
    if x in cities:
        print(x)

seol
riyadh

In [16]:
common = [] 

for x in favourite:
    if x in cities:
        common.append(x)

In [17]:
print(common)

['seol', 'riyadh']

In [18]:
for i in range(4):        #   0 to 3
    print(i)

0
1
2
3

In [19]:
for i in range(2, 8):        #   2 to 7
    print(i)

2
3
4
5
6
7

In [2]:
for i in range(5):
    print("hello")
    # code

hello
hello
hello
hello
hello

In [3]:
for x in range(3):
    print("hello")

hello
hello
hello

In [4]:
for x in range(2, 6):                   # x= 2, 3, 4, 5
    # any code that we write will run 4 times 
    print("hello")

hello
hello
hello
hello