In [1]:
cities = ['riyadh', 'new delhi', 'beijing', 'washington', 'cairo', 'toronto']
listb = [23.5, 8.9, 12.34, 56.97]
lista = [7, 9, 10, 23, 13, 7]

In [2]:
print(cities[2])

beijing

In [3]:
print(cities[-1])

toronto

In [4]:
print(cities[1:4])

['new delhi', 'beijing', 'washington']

In [6]:
print(cities[4])

cairo

In [7]:
cities[2] = "hongkong"

In [8]:
print(cities)

['riyadh', 'new delhi', 'hongkong', 'washington', 'cairo', 'toronto']

In [9]:
cities.append("paris")      #  add to the end

In [10]:
print(cities)

['riyadh', 'new delhi', 'hongkong', 'washington', 'cairo', 'toronto', 'paris']

In [11]:
cities.insert(4, "lima")      # insert at index 4, push the remaining to right

In [12]:
print(cities)

['riyadh', 'new delhi', 'hongkong', 'washington', 'lima', 'cairo', 'toronto', 'paris']

In [13]:
cities.remove("washington")     # removes the value (members or elements or items)

In [14]:
print(cities)

['riyadh', 'new delhi', 'hongkong', 'lima', 'cairo', 'toronto', 'paris']

In [15]:
cities.pop(3)                # removes element at index 3

'lima'

In [16]:
print(cities)

['riyadh', 'new delhi', 'hongkong', 'cairo', 'toronto', 'paris']

In [17]:
cities.pop()                 # be default removes last element (-1)

'paris'

In [18]:
print(cities)

['riyadh', 'new delhi', 'hongkong', 'cairo', 'toronto']

In [19]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [20]:
cities.remove("tokyo")

ValueError: list.remove(x): x not in list

In [21]:
cities.pop(9)

IndexError: pop index out of range

In [22]:
print(cities)

['riyadh', 'new delhi', 'hongkong', 'cairo', 'toronto']

In [23]:
cities.reverse()

In [24]:
print(cities)

['toronto', 'cairo', 'hongkong', 'new delhi', 'riyadh']

In [25]:
print(lista)

[7, 9, 10, 23, 13, 7]

In [26]:
lista.sort()

In [27]:
print(lista)

[7, 7, 9, 10, 13, 23]

In [28]:
print(listb)

[23.5, 8.9, 12.34, 56.97]

In [29]:
listb.sort(reverse=True)

In [30]:
print(listb)

[56.97, 23.5, 12.34, 8.9]

In [31]:
cities.count('hongkong')

1

In [32]:
cities.index('hongkong')

2

In [33]:
print(cities)

['toronto', 'cairo', 'hongkong', 'new delhi', 'riyadh']

In [34]:
help(list.clear)

Help on method_descriptor:

clear(self, /)
    Remove all items from list.

In [35]:
listx = [7, 8, 12, 5, 9]

In [36]:
print(listx)

[7, 8, 12, 5, 9]

In [37]:
listx.clear()         # clears all elements, makes it empty list

In [38]:
len(listx)

0

In [39]:
print(listx)

[]

In [40]:
print(cities)

['toronto', 'cairo', 'hongkong', 'new delhi', 'riyadh']

In [41]:
places = ['abu dhabi', 'london', 'mexico', 'moscow', cities]

In [42]:
listy = [34, 7.89, "hello", [3, 5, 9], "great"]

In [43]:
print(len(places))

5

In [44]:
print(places)

['abu dhabi', 'london', 'mexico', 'moscow', ['toronto', 'cairo', 'hongkong', 'new delhi', 'riyadh']]

In [45]:
print(len(places))

5

In [46]:
print(places[3])

moscow

In [47]:
print(places[4])

['toronto', 'cairo', 'hongkong', 'new delhi', 'riyadh']

In [48]:
print(type(places[3]))

<class 'str'>

In [49]:
print(type(places[4]))

<class 'list'>

In [50]:
print(listy)

[34, 7.89, 'hello', [3, 5, 9], 'great']

In [51]:
print(places)

['abu dhabi', 'london', 'mexico', 'moscow', ['toronto', 'cairo', 'hongkong', 'new delhi', 'riyadh']]

In [52]:
print(places[4])

['toronto', 'cairo', 'hongkong', 'new delhi', 'riyadh']

In [53]:
print(places[4][2])

hongkong

In [54]:
#   multidimensions

In [55]:
scores = [[78, 89, 92], 
          [76, 91, 93]]     # multi dimension (2 dimensions)

In [56]:
print(places)

['abu dhabi', 'london', 'mexico', 'moscow', ['toronto', 'cairo', 'hongkong', 'new delhi', 'riyadh']]

In [57]:
print(places[2])

mexico

In [58]:
print(places[2][1])

e

In [59]:
print(places[4][2][1])

o

In [60]:
#     mohammed    sultan     nigam
#     83,85,96    88,93,94   79,88,92   1st year
#     78,45,85    78,76,74   65,66,58   2nd year
#     mohammed[0][1]  = 85

In [61]:
#     10 MCQs x 3

In [62]:
print(cities)

['toronto', 'cairo', 'hongkong', 'new delhi', 'riyadh']

In [63]:
metros = ['los angeles', 'shanghai', 'seol', 'amsterdam', 'mecca']

In [64]:
print(cities)

['toronto', 'cairo', 'hongkong', 'new delhi', 'riyadh']

In [65]:
cities.append('prague')

In [66]:
print(cities)

['toronto', 'cairo', 'hongkong', 'new delhi', 'riyadh', 'prague']

In [67]:
cities.append(metros)

In [69]:
print(cities)

['toronto', 'cairo', 'hongkong', 'new delhi', 'riyadh', 'prague', ['los angeles', 'shanghai', 'seol', 'amsterdam', 'mecca']]

In [70]:
cities.pop(-1)

['los angeles', 'shanghai', 'seol', 'amsterdam', 'mecca']

In [71]:
print(cities)

['toronto', 'cairo', 'hongkong', 'new delhi', 'riyadh', 'prague']

In [72]:
print(metros)

['los angeles', 'shanghai', 'seol', 'amsterdam', 'mecca']

In [73]:
cities.extend(metros)

In [74]:
print(cities)

['toronto', 'cairo', 'hongkong', 'new delhi', 'riyadh', 'prague', 'los angeles', 'shanghai', 'seol', 'amsterdam', 'mecca']

In [75]:
print(cities)

['toronto', 'cairo', 'hongkong', 'new delhi', 'riyadh', 'prague', 'los angeles', 'shanghai', 'seol', 'amsterdam', 'mecca']

In [76]:
towns = cities     # does not create a new list, referes to the same list

In [77]:
print(towns)

['toronto', 'cairo', 'hongkong', 'new delhi', 'riyadh', 'prague', 'los angeles', 'shanghai', 'seol', 'amsterdam', 'mecca']

In [78]:
print(cities)

['toronto', 'cairo', 'hongkong', 'new delhi', 'riyadh', 'prague', 'los angeles', 'shanghai', 'seol', 'amsterdam', 'mecca']

In [79]:
towns.sort()

In [80]:
towns.pop(4)

'mecca'

In [81]:
print(towns)

['amsterdam', 'cairo', 'hongkong', 'los angeles', 'new delhi', 'prague', 'riyadh', 'seol', 'shanghai', 'toronto']

In [82]:
print(cities)

['amsterdam', 'cairo', 'hongkong', 'los angeles', 'new delhi', 'prague', 'riyadh', 'seol', 'shanghai', 'toronto']

In [83]:
x = cities.copy()    # creates a new list, both are independant of each other

In [84]:
x.pop(3)
x.pop(1)

'cairo'

In [85]:
print(x)

['amsterdam', 'hongkong', 'new delhi', 'prague', 'riyadh', 'seol', 'shanghai', 'toronto']

In [86]:
print(cities)

['amsterdam', 'cairo', 'hongkong', 'los angeles', 'new delhi', 'prague', 'riyadh', 'seol', 'shanghai', 'toronto']

In [87]:
print(cities)

['amsterdam', 'cairo', 'hongkong', 'los angeles', 'new delhi', 'prague', 'riyadh', 'seol', 'shanghai', 'toronto']

In [88]:
listp = ['Abc', 'abc', 'Bcd', 'EEE', 'eee', 'cad']

In [90]:
listp.sort()

In [91]:
print(listp)

['Abc', 'Bcd', 'EEE', 'abc', 'cad', 'eee']

In [92]:
listp

['Abc', 'Bcd', 'EEE', 'abc', 'cad', 'eee']