In [1]:
cities = ('riyadh', 'new delhi', 'beijing', 'washington', 'cairo', 'toronto')
listb = (23.5, 8.9, 12.34, 56.97)
lista = (7, 9, 10, 23, 13, 7)

In [2]:
print(type(cities))

<class 'tuple'>

In [3]:
print(cities)

('riyadh', 'new delhi', 'beijing', 'washington', 'cairo', 'toronto')

In [4]:
print(cities[4])

cairo

In [5]:
print(cities[1:4])

('new delhi', 'beijing', 'washington')

In [6]:
cities[2] = "shanghai"

TypeError: 'tuple' object does not support item assignment

In [7]:
cities.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [8]:
cities.count('cairo')

1

In [9]:
cities.index('cairo')

4

In [10]:
tup_a = (6, 8, 0, [5, 6, 7], (3, 4, 5), 30)

In [11]:
tup_a[3].append(12)

In [12]:
print(tup_a)

(6, 8, 0, [5, 6, 7, 12], (3, 4, 5), 30)

In [13]:
tup_a[4].append(20)

#  rows & columns

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
basket_1 = {'grapes', 'figs', 'mangoes', 'peaches', 'figs', 'grapes', 'oranges'}

In [15]:
print(basket_1)

{'figs', 'mangoes', 'grapes', 'peaches', 'oranges'}

In [16]:
basket_1[3]

TypeError: 'set' object is not subscriptable

In [17]:
cities = ('riyadh', 'new delhi', 'riyadh', 'beijing', 'washington', 'cairo', 'toronto', 'cairo')

In [18]:
print(cities)

('riyadh', 'new delhi', 'riyadh', 'beijing', 'washington', 'cairo', 'toronto', 'cairo')

In [19]:
seta = set(cities)

In [20]:
print(type(cities))

<class 'tuple'>

In [21]:
print(type(seta))

<class 'set'>

In [22]:
print(seta)

{'toronto', 'cairo', 'washington', 'beijing', 'riyadh', 'new delhi'}

In [23]:
list(seta)

['toronto', 'cairo', 'washington', 'beijing', 'riyadh', 'new delhi']

In [24]:
tuple(basket_1)

('figs', 'mangoes', 'grapes', 'peaches', 'oranges')

In [25]:
print(basket_1)

{'figs', 'mangoes', 'grapes', 'peaches', 'oranges'}

In [26]:
basket_1 = tuple(basket_1)